body * {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

section{
   border: solid 1px black;
   min-width: 100px;
   min-height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 1px black;
  min-height: 100vh;
  gap:20px
}
