body {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6rem;
}

header {
    background-color:rgb(234, 216, 239);
    justify-content: center;
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
}

main {
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}