body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

/* create your child rules here:  */

main div {
    grid-column: span 3;
    background-color: white;
    border: solid black;
    align-content: center;
    text-align: center;
}

.item-2, .item-4 {
    grid-column: 3 / span 3;
}


