html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 169, 190);
}

#home h2, #home p {
    color: black;
}

#bio {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

#portfolio {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    color:antiquewhite
}

p {
    color:antiquewhite
}