html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 1px solid black;
    gap: 20px;
    padding: 10 px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

li {
border: solid;
padding: 10px;
}

a {
    border: solid black;
    padding: 5px;
}