body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Your code here */
 /*body * { 
    border: solid 1px black;
    padding: 5px;
} */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: lightgray;
    padding: 50px;
}

section p {
    text-align: center;
    padding-bottom: 20px;
}

header {
background-color: lightblue;
padding: 30px;
}

img { 
    width: 100%;
}

section {
    background-color: white;
    width: 100%
}

section:hover {
    opacity: 1;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate */
    transform: rotate(5deg);
}

@media screen and (max-width:600px) {
    header {
        background-color: rgb(230, 173, 221);
    }  

    main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: lightgray;
    padding: 20px;
    }

}
