body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section {
    border: solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img{
    grid-column: 2;
    padding: 10px;
}

