@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20vh 20vw;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-container section {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #CCC;
}


#section1 {
    background: #0c7474;
    color: white;
    transition: all 0.3s ease-out;
}

#section1:hover {
    background: purple;
    border-radius: 20px;
}

#section2 { 
    background-color: lightpink;
    transition: all 0.3s ease-out;
}

#section2:hover { 
    background-color: blueviolet;
    border-radius: 70px;
} 


#section3 { 
    transition: all 0.3s ease-out;
}

#section3:hover { 
   border-radius: 100px;
} 