body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;

}
.photo-section img {
    width: 10;
    margin-right: 1.3%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}

H1 {
    color: rgb(82, 8, 152);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

img {
    width:30%;
    display:block;
    margin-bottom:10px;
}

a:hover {
  background-color: rgb(164, 229, 144);
  font-size: 18px;
}

